body{
  overflow-x: hidden;
}
@font-face {
  font-family: 'proxima_novabold';
  src: url('../uploads/fonts/nova-bold-webfont.woff2') format('woff2'),
       url('../uploads/fonts/nova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'masked_hero_demoregular';
  src: url('../uploads/fonts/masked-hero-webfont.woff2') format('woff2'),
       url('../uploads/fonts/masked-hero-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotobold';
  src: url('../uploads/fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../uploads/fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'robotomedium';
  src: url('../uploads/fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../uploads/fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'robotoregular';
  src: url('../uploads/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../uploads/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
#preguntas-main{
  height: 100vh;
}

.panel-preguntas{
  width: 100%;
  position: relative;
  min-height: 550px;
}
.panel-preguntas .container-pregunta{
  width: 80%;
  height: 76%;
  top: 12%;
  margin: 0 auto;
  background-size: cover;
  background-position: top center;
  position: relative;
}
.panel-preguntas .detalle-pregunta p{
  font-size: 23px;
  font-weight: 600;
  color: #ffffff;
  padding-right: 7%;
  line-height: 1.3;
  margin-bottom: 47px;
}
.panel-preguntas .imagen-izquierda{
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}
.panel-preguntas .imagen-izquierda:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(54px);
  -webkit-filter: blur(54px);
  -moz-filter: blur(54px);
  -ms-filter: blur(54px);
  -o-filter: blur(54px);
}
.panel-preguntas .signo-interrogacion{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0 auto;
  z-index: 9;
  animation: up-down 3s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.panel-preguntas .detalle-pregunta .options{
  position: relative;
  margin-left: -12px; 
}
.panel-preguntas .detalle-pregunta .options .col-md{
  text-align: left;
}
.panel-preguntas .detalle-pregunta .options:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  top: 9px;
  margin-right: auto;
  left: 18px;
  display: block;
  right: 0;
  text-align: center;
}

.label-pregunta {
  display: block;
  position: relative;
  padding-top: 31px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  font-weight: 700;
}

.label-pregunta input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.circle-check {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 19px;
  width: 19px;
  background-color: #965cf2;
  box-shadow: 0px 0px 11px 2px #a178e2;
  border-radius: 50%;
  margin-right: auto;
  z-index: 3;
  transition: 200ms;
}

.label-pregunta:hover input ~ .circle-check {
  background-color: #965cf2;
}

.label-pregunta input:checked ~ .circle-check {
  background-color: #f7f0e2 !important;
  box-shadow: 0px 0px 18px 7px #ffb32c !important;
}
.circle-check:hover{
  transition: 500ms;
  box-shadow: 0px 0px 11px 2px #42155d;
}
.circle-check:after {
  content: "";
  position: absolute;
  display: none;
}

.label-pregunta input:checked ~ .circle-check:after {
  display: block;
}
.controles .btn-navegacion{
  position: absolute;
  top: 43%;
  right: 11.5%;
  z-index: 9; 
  cursor: pointer;
  display: block;
  transition: 500ms;
}
.controles .btn-navegacion:hover{
  transform: scale(1.05);
  transition: 400ms;
}
.controles .btn-navegacion i{
  font-size: 35px;
  background: #ffb32c;
  padding: 65px 0px;
  display: block;
}
.controles .btn-navegacion a{
  color: #200331;
  text-decoration: none !important;
}
.controles .top-iconos{
  position: absolute;
  top: 4%;
  right: 3%;
  z-index: 9;
}
.controles .top-iconos a {
  border: 2px solid #ffffff;
  text-decoration: none;
  border-radius: 50%;
  padding: 2px 6px;
  color: #ffffff;
  margin: 0 6px;
  box-sizing: border-box;
  font-size: 20px;
  transition: 300ms;
  -webkit-appearance: none;
}
.controles .top-iconos a:hover{
  background-color: #ffffff;
  color: rgb(43 43 43);
  transition: 500ms;
}
.text-contenido-p{
  z-index: 3;
  position: relative;
  height: 100%;
}
.shadow-etapas{
  background: rgb(32 3 49 / 27%);
  position: absolute;
  top: -3%;
  right: 0;
  left: -2%;
  width: 100%;
  bottom: 0;
  height: 100%;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -ms-filter: blur(6px);
  -o-filter: blur(6px);
  border-top-left-radius: 30px 24px;
  border-top-right-radius: 61px 42px;
  z-index: 2;
}
.bg-etapas{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(26px 0, calc(100% - 36px) 0, 100% 36px, 100% 100%, 0 100%, 0 25px);
  clip-path: polygon(26px 0, calc(100% - 36px) 0, 100% 36px, 100% 100%, 0 100%, 0 25px);
}
.bg-etapas:before{
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-image: url(../img/bg-etapa1.jpg);
  box-sizing: border-box;
  background-size: cover;
  -webkit-clip-path: polygon(25px 0, calc(100% - 35px) 0, 100% 35px, 100% 100%, 0 100%, 0 24px);
  clip-path: polygon(25px 0, calc(100% - 35px) 0, 100% 35px, 100% 100%, 0 100%, 0 24px);
}

/* ----------------------------------------ETAPA 1 ------------------------------------------ */
#etapa-1{ 
  background-color: #200331;
  background-image: url(../img/bg-preguntas.png);
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
#etapa-1 .shadow-etapas{
  background: rgb(145 86 229 / 28%);
}
#etapa-1 .bg-etapas:before{
  background-image: url(../img/bg-etapa1.jpg);
}
#etapa-1 .bg-etapas {
  background-color: #965cf2;
}
#etapa-1 .detalle-pregunta .options:after {
  background: #965cf2;
}
/* ---------------------------------------FIN ETAPA ------------------------------------------- */


/* ---------------------------------------ETAPA 2 --------------------------------------------- */
#etapa-2{ 
  background-color: #0f2533;
  background-image: url(../img/bg-preguntas-2.png);
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
#etapa-2 .shadow-etapas{
  background: rgb(65 212 204 / 28%);
}
#etapa-2 .bg-etapas:before{
  background-image: url(../img/bg-etapa2.jpg);
}
#etapa-2 .bg-etapas {
  background-color: #41d8cd;
}
#etapa-2 .detalle-pregunta .options:after {
  background: #41d8cd;
}
#etapa-2 .circle-check {
  background-color: #41d8cd;
  box-shadow: 0px 0px 11px 2px #47dacf;
}
#etapa-2 .label-pregunta:hover input ~ .circle-check {
  background-color: #41d8cd;
}
#etapa-2.panel-preguntas .imagen-izquierda:after{
  background: rgb(65 216 205 / 7%);
}
/* -----------------------------------------FIN ETAPA ---------------------------------------- */


/* ------------------------------------------ETAPA 3 ---------------------------------------- */
#etapa-3{ 
  background-color: #102251;
  background-image: url(../img/bg-preguntas-3.png);
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
#etapa-3 .shadow-etapas{
  background: rgb(50 116 249 / 36%);
}
#etapa-3 .bg-etapas:before{
  background-image: url(../img/bg-etapa3.jpg);
}
#etapa-3 .bg-etapas {
  background-color: #42c0b6;
}
#etapa-3 .detalle-pregunta .options:after {
  background: #3274f9;
}
#etapa-3 .circle-check {
  background-color: #3274f9;
  box-shadow: 0px 0px 11px 2px #3e7cf9;
}
#etapa-3 .label-pregunta:hover input ~ .circle-check {
  background-color: #3274f9;
}
#etapa-6.panel-preguntas .imagen-izquierda:after{
  background: rgb(50 116 249 / 8%);
}
/* -------FIN ETAPA ------------ */

/* ------------------------------------------ETAPA 4 ---------------------------------------- */
#etapa-4{ 
  background-color: #0f331e;
  background-image: url(../img/bg-preguntas-4.png);
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
#etapa-4 .shadow-etapas{
  background: rgb(17 104 52 / 52%);
}
#etapa-4 .bg-etapas:before{
  background-image: url(../img/bg-etapa4.jpg);
}
#etapa-4 .bg-etapas {
  background-color: #28d16c;
}
#etapa-4 .detalle-pregunta .options:after {
  background: #28d16c;
}
#etapa-4 .circle-check {
  background-color: #28d16c;
  box-shadow: 0px 0px 11px 2px #28d16c;
}

#etapa-4 .label-pregunta:hover input ~ .circle-check {
  background-color: #28d16c;
}
#etapa-4 .label-pregunta, #etapa-4 .detalle-pregunta p{
  color: #f7f0e2
}
#etapa-4.panel-preguntas .imagen-izquierda:after{
  background: rgb(28 124 111 / 18%);
}
/* -------FIN ETAPA ------------ */

/* ------------------------------------------ETAPA 5 ---------------------------------------- */
#etapa-5{ 
  background-color: #511414;
  background-image: url(../img/bg-preguntas-5.png);
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
#etapa-5 .shadow-etapas{
  background: rgb(234 60 60 / 34%);
}
#etapa-5 .bg-etapas:before{
  background-image: url(../img/bg-etapa5.jpg);
}
#etapa-5 .bg-etapas {
  background-color: #ff5757;
}
#etapa-5 .detalle-pregunta .options:after {
  background: #ff5757;
}
#etapa-5 .circle-check {
  background-color: #ff5757;
  box-shadow: 0px 0px 11px 2px #ff5757;
}

#etapa-5 .label-pregunta:hover input ~ .circle-check {
  background-color: #ff5757;
}
#etapa-5.panel-preguntas .imagen-izquierda:after{
  background: rgb(255 87 87 / 9%);
}
/* -------FIN ETAPA ------------ */

/* ------------------------------------------ETAPA 6 ---------------------------------------- */
#etapa-6{ 
  background-color: #3a2f8c;
  background-image: url(../img/bg-preguntas-6.png);
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
#etapa-6 .shadow-etapas{
  background: rgb(105 91 204 / 46%);
}
#etapa-6 .bg-etapas:before{
  background-image: url(../img/bg-etapa6.jpg);
}
#etapa-6 .bg-etapas {
  background-color: #e220a1;
}
#etapa-6 .detalle-pregunta .options:after {
  background: #a194ff;
}
#etapa-6 .circle-check {
  background-color: #a194ff;
  box-shadow: 0px 0px 11px 2px #a194ff;
}

#etapa-6 .label-pregunta:hover input ~ .circle-check {
  background-color: #a194ff;
}
#etapa-6.panel-preguntas .imagen-izquierda:after{
  background: rgb(161 148 255 / 9%)
}
/* -------FIN ETAPA ------------ */

@media (min-width: 1600px) {
    .detalle-pregunta p{
        font-size: 29px;
    }
}
@media (min-width: 768px){
    .detalle-pregunta{
        padding-right: 27px;   
}
}
@media (max-width: 767px){
  .panel-preguntas {
    width: 100%;
    position: relative;
    min-height: 550px;
    padding: 95px 15px 88px 0px;
    height: auto !important;
  }
  .panel-preguntas .detalle-pregunta p {
    font-size: 20px;
    padding: 0px 10px 0px 16px;
    line-height: 1.2;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 10px;
  }
  .panel-preguntas .container-pregunta {
    width: 88%;
    height: auto;
    top: 12%;
  }
  .label-pregunta {
    display: inline-block;  
    padding-top: 0px;
    padding-left: 32px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1;
  }
  .circle-check {
    top: 0px;
  }
  .panel-preguntas .detalle-pregunta .options:after {
    width: 3px;
    height: 80%;
    top: 9px;
    left: 23px;
    right: auto;
  }
  .panel-preguntas .detalle-pregunta .options {
    margin-left: 22px;
    margin-bottom: 20px;
  }
  .controles .btn-navegacion {
    position: absolute;
    top: 56%;
    right: 7%;
    z-index: 9;
  }
  .controles .btn-navegacion i {
    font-size: 28px;
    background: #ffb32c;
    padding: 32px 0px;
  }
}
@media (max-width: 768px) and (orientation: landscape) { 
  .panel-preguntas .detalle-pregunta p {
    font-size: 16px;
    margin-bottom: 35px;
  }
  .label-pregunta {
    display: block;
    padding-top: 24px;
    padding-left: 0;
    margin-bottom: 25px;
    font-size: 13px;
  }
  .circle-check {
    height: 13px;
    width: 13px;
  }
  .panel-preguntas .detalle-pregunta .options:after {
    width: 80%;
    height: 3px;
    top: 6px;
  }
  .panel-preguntas {
    width: 100%;
    position: relative;
    min-height: 399px;
    padding: 7% 15px 5% 15px;
    height: 100% !important;
}
.panel-preguntas .container-pregunta {
  width: 88%;
  height: 84%;
  top: 12%;
}
.controles .btn-navegacion {
  top: 46%;
}
.controles .btn-navegacion i {
  font-size: 20px;
}
.modal-mapa .modal-dialog {
  max-width: 77% !important;
  margin: 0 auto;
}
.contenedor-mapa .niveles-mapa span {
  width: 20px !important;
  height: 20px !important;
  font-size: 10px !important;
}
.circle-icon {
  font-size: 14px !important;
}
button.play-button {
  width: 42px !important;
  height: 42px !important;
}
.marca-titulo p {
  font-size: 15px !important;
}
}
@media (max-width: 575px) and (orientation: landscape) {
.container-pregunta .col-md-5.col-sm-4{
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.container-pregunta .col-md-7.col-sm-8{
  flex: 0 0 66.333333%;
  max-width: 66.333333%;
}
.panel-preguntas .detalle-pregunta p {
  font-size: 13px;
  margin-left: 0;
}
.panel-preguntas .col-sm{
  -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.panel-preguntas .detalle-pregunta .options {
  margin-left: 0;
}
.contenedor-mapa {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  margin-left: 0 !important;
}
.contenedor-mapa .niveles-mapa span {
  width: 16px !important;
  height: 16px !important;
  font-size: 7px !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}
.circle-icon {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}
.marca-titulo {
  -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    right: inherit !important;
    top: inherit !important;
    bottom: 4% !important;
    left: 10% !important;
}
}

@media (max-width: 380px){
  .panel-preguntas .detalle-pregunta p {
    font-size: 18px;
}
  .label-pregunta {
    font-size: 16px;
  }
}


/* MAPA MODAL */

.modal-mapa .modal-content{
  background-color: rgb(255 255 255 / 0%);
  border: 0;
  border-radius: 0;
  outline: 0;
}
.modal-backdrop{
  background-color: rgb(59 59 59 / 30%);
  backdrop-filter: blur(3px);
}
.modal-backdrop.show {
  opacity: 0.8 !important;
}
.close-mapa{
  background: rgb(215,196,66);
  background: -moz-linear-gradient(90deg, rgba(215,196,66,1) 0%, rgba(214,195,64,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(215,196,66,1) 0%, rgba(214,195,64,1) 100%);
  background: linear-gradient(90deg, rgb(210 190 55) 0%, rgba(214,195,64,1) 100%);
  border-radius: 50%;
  position: absolute;
  right: 3%;
  top: 8%;
  z-index: 99;
  opacity: 1;
  color: #ffffff;
  line-height: inherit;
  padding: 0;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 5px #150b24;
}
button.play-button{
  position: absolute;
  right: 2%;
  top: 68%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0;
  -webkit-appearance: none;
  background: rgb(215,196,66);
  background: -moz-linear-gradient(90deg, rgba(215,196,66,1) 0%, rgba(214,195,64,1) 100%);
  background: -webkit-linear-gradient( 90deg, rgba(215,196,66,1) 0%, rgba(214,195,64,1) 100%);
  background: linear-gradient( 90deg, rgb(210 190 55) 0%, rgba(214,195,64,1) 100%);
}
.close-mapa:hover{
  color: #ffffff;
  background: #efa213;
  opacity: 1 !important;
}
.close-mapa span{
  display: block;
  line-height: 0;
  font-size: 42px;
  margin-top: -5px;
}
.circle-icon{
  display: inline-block;
  color: #ffffff;
  font-size: 28px;
  line-height: 0;
  text-align: center;
  padding-left: 4px; 
}
.contenedor-mapa{
  width: 100%;
  position: relative;
  display: block;
}
.contenedor-mapa .img-mapa{
  width: 100%;
}
.contenedor-mapa .niveles-mapa{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contenedor-mapa .niveles-mapa span {
  width: 30px;
  height: 30px;
  background: rgb(56,103,178);
  background: -moz-linear-gradient(135deg, rgba(56,103,178,1) 0%, rgba(59,125,190,1) 88%, rgba(102,160,205,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(56,103,178,1) 0%, rgba(59,125,190,1) 88%, rgba(102,160,205,1) 100%);
  background: linear-gradient(135deg, rgba(56,103,178,1) 0%, rgba(59,125,190,1) 88%, rgba(102,160,205,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3867b2",endColorstr="#357eb8",GradientType=1);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: #2b1b56;
  font-size: 13px;
  line-height: 2.2;
  font-family: 'masked_hero_demoregular';
  text-transform: lowercase;
  position: absolute;
  left: 0;
  top: 0;
  animation-name: fade-item;
  -webkit-animation-name: fade-item;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both
}

.contenedor-mapa .niveles-mapa span:hover{
  box-shadow: 0px 0px 16px 7px rgb(58 119 188 / 44%);
}

.contenedor-mapa .niveles-mapa span:nth-child(1){
  top: 43%;
  left: 9%;
}
.contenedor-mapa .niveles-mapa span:nth-child(2){
  top: 34%;
  left: 19%;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.contenedor-mapa .niveles-mapa span:nth-child(3){
  top: 38%;
  left: 31%;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.contenedor-mapa .niveles-mapa span:nth-child(4){
  left: 31.5%;
  top: 56%;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.contenedor-mapa .niveles-mapa span:nth-child(5){
  left: 41%;
  top: 67%;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.contenedor-mapa .niveles-mapa span:nth-child(6){
  top: 58%;
  left: 51%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.contenedor-mapa .niveles-mapa span:nth-child(7){
  top: 45%;
  left: 59%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.contenedor-mapa .niveles-mapa span:nth-child(8){
  top: 38%;
  left: 70%;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.contenedor-mapa .niveles-mapa span:nth-child(9){
  top: 42%;
  left: 82%;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.contenedor-mapa .niveles-mapa span:nth-child(10){
  top: 57%;
  left: 88%;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.marca-titulo{
  position: absolute;
  bottom: 7%;
  left: 10%;
  font-family: 'masked_hero_demoregular';
  text-align: left;
  text-transform: lowercase;
}
.marca-titulo p{
  color: #f7d9ff;
  font-size: 45px;
  opacity: 0.9;
}

@keyframes fade-item {
  from {
    opacity:0;
}
to {
    opacity:1;
}
}

@-webkit-keyframes fade-item {
  from {
    opacity:0;
}
to {
    opacity:1;
}
}

@-moz-keyframes fade-item {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
.contenedor-mapa .niveles-mapa .etapa-realizada.etapa-active:after {
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 16px 7px rgb(237 232 156 / 55%);
    display: block;
    border-radius: 50%;
    top: 0;
    position: absolute;
}
.contenedor-mapa .niveles-mapa span.etapa-realizada:hover{
  box-shadow: 0px 0px 16px 7px rgb(237 232 156 / 55%);
}
.contenedor-mapa .niveles-mapa .etapa-realizada.etapa-active{
  box-shadow: inset 0px 2px 2px #f1e8a8;
}

.contenedor-mapa .niveles-mapa .etapa-realizada{
  background: -moz-radial-gradient(circle, rgba(255,233,70,1) 0%, rgba(255,138,89,1) 79%, rgba(197,86,205,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(255,233,70,1) 0%, rgba(255,138,89,1) 79%, rgba(197,86,205,1) 100%);
  background: radial-gradient(circle, rgba(255,233,70,1) 0%, rgba(255,138,89,1) 79%, rgba(197,86,205,1) 100%);
  box-shadow: inset 0px 2px 2px #fb73f5;
}
/* Fin modal MAPA */

/* DUDAS MODAL */
.nav-tabs {
  display:none;
}

.modal-dudas .modal-content{
  background-color: rgb(0 12 38 / 30%);
  border: 1px solid rgb(243 216 253 / 9%) !important;
  border-radius: 0 !important;
  padding: 4% 4%;
  backdrop-filter: blur(16px);
}
.modal-dudas .card{
  background-color: rgb(255 255 255 / 0%) !important;
}
.modal-dudas .card-body{
  padding-left: 12%;
}
.modal-dudas .card p{
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
}

.modal-dudas ul .nav-item{
  margin-top: 28px;
  margin-bottom: 28px
}
.modal-dudas ul .nav-item a, .modal-dudas .card-header{
  -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(18px 0, 100% 0%, 100% 100%, 0% 100%);
    background-color: rgb(255 255 255 / 15%);
    border: 0;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 19px;
    padding: 20px 0;
    border: 0;
    transition: 500ms;
    position: relative;
}
.modal-dudas .card-header{
  margin-bottom: 28px;
  margin-top: 28px;
}
.modal-dudas .card-header a{
  text-align: center;
  color: #ffffff;
  font-size: 19px;
    padding: 20px 0;
    text-decoration: none;
}
button.close.close-dudas{
  display: inherit;
  position: absolute;
  top: -14px;
  right: -14px;
  opacity: 1;

}
button.close.close-dudas span{
  width: 36px;
    height: 36px;
    background: #8455c0;
    border-radius: 50%;
    line-height: 31px;
    color: #ffffff;
}
.modal-dudas .card-header a[aria-expanded="true"], .modal-dudas .card-header a:hover{
  border: 0;
  text-shadow: 8px 12px 25px #934fed, -12px 8px 25px #934fed, -8px -10px 25px #934fed, 10px -8px 25px #934fed, 8px 10px 25px #934fed, -10px 8px 25px #934fed, -8px -10px 25px #934fed, 10px -8px 25px #934fed ;
}
.modal-dudas ul#tabs:after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(250,243,252,0.7567401960784313) 22%, rgba(252,246,255,0.7763480392156863) 52%, rgba(251,244,254,0.7511379551820728) 89%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(
180deg, rgba(255,255,255,0) 0%, rgba(250,243,252,0.7567401960784313) 22%, rgba(252,246,255,0.7763480392156863) 52%, rgba(251,244,254,0.7511379551820728) 89%, rgba(255,255,255,0) 100%);
  background: linear-gradient(
180deg, rgba(255,255,255,0) 0%, rgb(250 243 252 / 35%) 22%, rgb(252 246 255 / 53%) 52%, rgb(251 244 254 / 41%) 89%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.modal-dudas .nav-tabs .nav-link.active, .modal-dudas .nav-tabs .nav-link:hover {
  color: #ffffff;
  background-color: rgb(255 255 255 / 10%);
  border: 0;
  text-shadow: 8px 12px 25px #934fed, -12px 8px 25px #934fed, -8px -10px 25px #934fed, 10px -8px 25px #934fed, 8px 10px 25px #934fed, -10px 8px 25px #934fed, -8px -10px 25px #934fed, 10px -8px 25px #934fed ;
}
.modal-dudas .nav-tabs .nav-link.active:after, .modal-dudas .nav-tabs .nav-link.active:before, 
.modal-dudas .card-header a[aria-expanded="true"]:after, .modal-dudas .card-header a[aria-expanded="true"]:before {
  content: "";
  width: 66%;
  height: 2px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(250,243,252,0.6502976190476191) 22%, rgba(252,246,255,0.6867121848739496) 52%, rgba(251,244,254,0.6250875350140056) 89%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(250,243,252,0.6502976190476191) 22%, rgba(252,246,255,0.6867121848739496) 52%, rgba(251,244,254,0.6250875350140056) 89%, rgba(255,255,255,0) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(250,243,252,0.6502976190476191) 22%, rgba(252,246,255,0.6867121848739496) 52%, rgba(251,244,254,0.6250875350140056) 89%, rgba(255,255,255,0) 100%);
}
.modal-dudas .nav-tabs .nav-link.active:after, .modal-dudas .card-header a[aria-expanded="true"]:after {
  top: -1px;
}
.modal-dudas .nav-tabs .nav-link.active:before, .modal-dudas .card-header a[aria-expanded="true"]:before {
  bottom: -1px;
}
.modal-dudas  .nav-tabs {
  border-bottom: 0;
  border-right: 0;
  padding: 35px 0px;
  position: relative;
}
@media(min-width:768px) {
  .modal-dudas .nav-tabs {
    display: block;
  }
  .modal-dudas .card {
    border: none;
  }
  .modal-dudas .card .card-header {
    display:none;
  }  
  .modal-dudas .card .collapse{
    display:block;
  }
}

@media(max-width:767px){
  .modal-dudas .tab-content .tab-pane {
    display: block !important;
    opacity: 1;
    border: 0;
  }
  .modal-dudas .card-body {
    padding: 2px 20px 18px !important;
}
}

@media (min-width: 1600px){
  .contenedor-mapa .niveles-mapa span {
    width: 34px;
    height: 34px;
    font-size: 15px;
  }
}
@media (max-width: 1024px){
  .marca-titulo p {
    font-size: 22px;
  }
}
@media (min-width: 576px){
  .modal-mapa .modal-dialog,
  .modal-dudas .modal-dialog{
    max-width: 70%;
  }
}
@media (max-width: 767px){
  .close-mapa {
    width: 26px;
    height: 26px;
}
  .close-mapa span {
    line-height: 1;
    font-size: 19px;
}

}
@media (max-width: 600px){
  .panel-preguntas .imagen-izquierda{
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    padding: 0 9%;
  }
  .panel-preguntas .signo-interrogacion {
    max-width: 87%;
}
  .contenedor-mapa {
    -webkit-transform: rotate(90deg) scale(1.7);
    -moz-transform: rotate(90deg) scale(1.7);
    -ms-transform: rotate(90deg) scale(1.7);
    -o-transform: rotate(90deg) scale(1.7);
    transform: rotate(90deg) scale(1.7);
    margin-left: 2%;
  }
  .contenedor-mapa .niveles-mapa span{
    width: 15px;
    height: 15px;
    font-size: 7px;
    line-height: 2.2;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .close-mapa {
    right: 90%;
    top: 8%;
  }
  button.play-button {
    right: 1%;
    top: 73%;
    width: 35px;
    height: 35px;
  }
  .circle-icon {
    font-size: 12px;
    line-height: 2;
    text-align: center;
    padding-bottom: 2px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .marca-titulo {
    bottom: auto;
    left: auto;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right: 3%;
    top: 21%;
  }
  .marca-titulo p {
    font-size: 10px;
  }
}
@media (max-width: 360px){
  .contenedor-mapa .niveles-mapa span {
    width: 13px;
    height: 13px;
    font-size: 6px;
  }
}
@media (max-width: 575px){
  .modal-dudas .modal-content {
    padding: 18px 0;
  }
  .modal-dudas .modal-dialog{
    width: 90%;
    margin: 26px auto;
  }
  .modal-dudas .card p {
    font-size: 15px;
  }
}
